<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="accompanyMapper">

<resultMap type="accompany" id="accompanyResultSet">
	<result column="ACCOMPANY_NO" property="accompanyNo"/>
	<result column="USER_NO" property="userNo"/>
	<result column="COURSE_NO" property="courseNo"/>
	<result column="COURSE_NAME" property="courseName"/>
	<result column="ACCOMPANY_DATE" property="accompanyDate"/>
	<result column="WITH_TITLE" property="accompanyTitle"/>
	<result column="WITH_CONTENT" property="accompanyContent"/>
	<result column="CREATE_DATE" property="createDate"/>
	<result column="COUNT" property="count"/>
	<result column="STATUS" property="status"/>
	<result column="accompanyPeople" property="ACCOMPANY_PEOPLE"/>
</resultMap>

	<select id="selectListCount" resultType="_int">
		SELECT
		      COUNT(*)
		  FROM
		      ACCOMPANY
		 WHERE
			  STATUS = 'Y'
	</select>
	
	
	<select id="selectAll" resultMap="accompanyResultSet">
		SELECT
		      ACCOMPANY_NO,
		      USER_NO,
		      COURSE_NAME,
		      ACCOMPANY_DATE,
		      WITH_TITLE,
		      WITH_CONTENT,
		      CREATE_DATE,
		      COUNT,
		      STATUS,
		      ACCOMPANY_PEOPLE
		  FROM
		      ACCOMPANY A
		  JOIN
		      COURSE ON (A.COURSE_NO = COURSE_INDEX)
		 WHERE
		      A.STATUS = 'Y'
		 ORDER
		    BY
		      ACCOMPANY_NO DESC
	</select>


</mapper>