<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.hondimoyeong.course.model.repository.CourseMapper">

	<resultMap type="course" id="courseResultSet">
		<result column="COURSE_INDEX" property="courseIndex"/>
		<result column="COURSE_NO" property="courseNo"/>
		<result column="COURSE_NAME" property="courseName" />
		<result column="START_END" property="startEnd" />
		<result column="TAKE_TIME" property="takeTime" />
		<result column="DISTANCE" property="distance" />
		<result column="CONTENT" property="content" />
		<collection property="files" resultMap="courseFileResultSet" />
	</resultMap>
	
	<resultMap type="courseFile" id="courseFileResultSet">
		<result column="FILE_NO" property="fileNo" />
		<result column="COURSE_NO" property="courseNo" />
		<result column="COURSE_NAME" property="courseName" />
		<result column="COURSE_INDEX" property="courseIndex" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_LEVEL" property="fileLevel" />
	</resultMap>


  <select id="allCourseList" resultMap="courseResultSet">
 	   SELECT
			  COURSE.COURSE_INDEX,
			  COURSE_NO,
			  COURSE_NAME,
			  FILE_LEVEL
		 FROM
		 	  COURSE
		 LEFT
		 JOIN
		 	  COURSE_FILE ON (COURSE.COURSE_INDEX = COURSE_FILE.COURSE_INDEX)
		ORDER 
		   BY 
		      COURSE_INDEX ASC 
  </select>
  

  	<update id="loadFromApi" parameterType="java.util.List">
			BEGIN
				<foreach collection ="list" item="item" separator=" ">
				MERGE 
			     INTO 
				   	  COURSE C
				USING
				 	  DUAL ON
					 (
					 C.COURSE_NAME = #{item.courseName}
					 )
				WHEN 
					 NOT MATCHED THEN
			       INSERT
					(
					 COURSE_INDEX,
					 COURSE_NO,
					 COURSE_NAME,
					 START_END,
					 TAKE_TIME,
				 	 DISTANCE,
					 CONTENT
					)
			    VALUES
					(
					SEQ_COURSE_NO.NEXTVAL,
					#{item.courseNo},
					#{item.courseName},
					#{item.startEnd},
					#{item.takeTime},
					#{item.distance},
					'입력된 내용이 없습니다'
					);	 	
			</foreach>		
	END;	
	</update>
	
	<select id="courseDetail" parameterType="_int" resultMap="courseResultSet">
	  SELECT 
			C.COURSE_INDEX,
		    COURSE_NO,
		    COURSE_NAME,
		    START_END,
		    TAKE_TIME,
		    DISTANCE,
		    CONTENT,
		    ORIGIN_NAME,
		    CHANGE_NAME,
		    FILE_LEVEL
		FROM
		    COURSE C
		LEFT
		JOIN
		    COURSE_FILE F ON (C.COURSE_INDEX = F.COURSE_INDEX)
		WHERE
		    C.COURSE_INDEX = #{courseIndex}
	
	</select>
	
	<update id="updateCourse" parameterType="course">
	UPDATE
		  COURSE
	   SET
	   	  CONTENT = #{content}
	WHERE
		  COURSE_INDEX = #{courseIndex}
	</update>
	
	
	<update id="updateStamp" parameterType="courseFile">
	MERGE
	 INTO
	  	 COURSE_FILE F
	USING
		 DUAL 
	   ON
		 (F.COURSE_INDEX = #{courseIndex}
		  AND
		  F.FILE_LEVEL = #{fileLevel}
		  )
	WHEN
		MATCHED THEN
		UPDATE
		   SET
			  F.ORIGIN_NAME = #{originName},
			  F.CHANGE_NAME = #{changeName}
		   	
	WHEN
		 NOT MATCHED THEN
		 INSERT
		 (
		 FILE_NO,
		 COURSE_INDEX,
		 ORIGIN_NAME,
		 CHANGE_NAME,
		 FILE_LEVEL
		 )
		 VALUES
		 (
		 SEQ_COURSE_IMG_NO.NEXTVAL,
		 #{courseIndex},
		 #{originName},
		 #{changeName},
		 #{fileLevel}
		 )
	</update>
	
	<update id="updateDetailMap" parameterType="courseFile">
	MERGE
	 INTO
	 	 COURSE_FILE F
	USING
		 DUAL
	   ON
	   	 (F.COURSE_INDEX = #{courseIndex}
	   	  AND
	   	  F.FILE_LEVEL = #{fileLevel}
	   	 )
	 WHEN
	 	 MATCHED THEN
	 	 UPDATE
	 	    SET
	 	       F.ORIGIN_NAME = #{originName},
	 	       F.CHANGE_NAME = #{changeName}
	 WHEN	
	 	 NOT MATCHED THEN
	 	 INSERT
	 	 (
	 	 FILE_NO,
	 	 COURSE_INDEX,
	 	 ORIGIN_NAME,
	 	 CHANGE_NAME,
	 	 FILE_LEVEL
	 	 )	       
	 	 VALUES
	 	 (
	 	 SEQ_COURSE_IMG_NO.NEXTVAL,
	 	 #{courseIndex},
	 	 #{originName},
	 	 #{changeName},
	 	 #{fileLevel}	 	 
	 	 )      
	</update>
	
	<insert id="updatePhoto" parameterType="java.util.List">
	
	INSERT
	  INTO
	  	  COURSE_FILE
	  	  (
	  	  FILE_NO,
	  	  COURSE_INDEX,
	  	  ORIGIN_NAME,
	  	  CHANGE_NAME,
	  	  FILE_LEVEL
	  	  )
	SELECT
		  SEQ_COURSE_IMG_NO.NEXTVAL,
		  A.*
	  FROM
	  	  (
			<foreach collection="list" item="item" separator="UNION ALL ">
			SELECT
				#{item.courseIndex},
				#{item.originName},
				#{item.changeName},
				#{item.fileLevel}  
			FROM
				DUAL
			</foreach>	  	  
	  	  ) A

	</insert>
	
	<select id="stampList" resultMap="courseFileResultSet">
	SELECT
	    F.COURSE_INDEX,
	    COURSE_NO,
	    COURSE_NAME,
	    CHANGE_NAME
	FROM
	    COURSE_FILE F
	JOIN
	    COURSE C ON (C.COURSE_INDEX = F.COURSE_INDEX)
	WHERE
	    FILE_LEVEL = 1
	ORDER
	 BY
	    COURSE_INDEX
	</select>
	
	<select id="userCourse" parameterType="_int" resultType="course">
	SELECT 
	DISTINCT
	      COURSE_NO courseIndex
	 FROM
	     REVIEW
	WHERE
	     USER_NO = #{userNo}
	  AND
	     STATUS = 'Y'	
	</select>

</mapper>