<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.hondimoyeong.event.model.mapper.EventMapper">

	<resultMap type="event" id="eventResultSet">
		<result column="EVENT_NO" property="eventNo"/>
		<result column="EVENT_TITLE" property="eventTitle"/>
		<result column="EVENT_CONTENT" property="eventContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
		<result column="USER_NO" property="userNo"/>
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>


	<select id="selectListCount" resultType="_int">
	SELECT
	      COUNT(*)
	  FROM
	      EVENT
	 WHERE
	      STATUS = 'Y'
	</select>

	<select id="allEvents" resultMap="eventResultSet">
		SELECT
		      E.EVENT_NO,
		      EVENT_TITLE,
		      EVENT_CONTENT,
		      CREATE_DATE,
		      USER_NO,
		      CHANGE_NAME
		  FROM
		      EVENT E
		  LEFT
		  JOIN
		      EVENT_IMG EI ON (E.EVENT_NO = EI.EVENT_NO AND FILE_LEVEL = 1)
		 WHERE
		      STATUS = 'Y'
	</select>


</mapper>