<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

   <resultMap type="member" id="memberResultSet">
      <result column="USER_NO" property="userNo" />
      <result column="USER_NAME" property="userName" />
      <result column="USER_ID" property="userId" />
      <result column="USER_PWD" property="userPwd" />
      <result column="PHONE" property="phone" />
      <result column="EMAIL" property="email" />
      <result column="STATUS" property="status" />
      <result column="ENROLL_DATE" property="enrollDate" />
      <result column="MODIFY_DATE" property="modifyDate" />
      <result column="USER_CONTENT" property="userContent" />
   </resultMap>

	<!-- 로그인 -->
    <select id="login" parameterType="member" resultMap="memberResultSet">
      SELECT
               USER_NO,
               USER_NAME,   
               USER_ID,   
               USER_PWD,   
               PHONE,   
               EMAIL,   
               STATUS,      
               TO_CHAR(ENROLL_DATE,'YYYY-MM-DD') AS ENROLL_DATE
            FROM
               MEMBER
          WHERE
                USER_ID = #{userId}
            AND
                (STATUS = 'A' OR STATUS = 'C')
    </select>

	<!-- 회원가입 -->
	<insert id="insert" parameterType="member">
		INSERT
		  INTO
				MEMBER
				(
				USER_NO,
				USER_ID,
				USER_PWD,
				USER_NAME,
				EMAIL,
				PHONE
				)
		VALUES
				(
				SEQ_MEMBER_NO.NEXTVAL,
				#{userId},
				#{userPwd},
				#{userName},
				#{email},
				#{phone}
				)
	</insert>

	<!-- 아이디 중복 체크용 쿼리문 -->
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			MEMBER
		WHERE
			USER_ID = #{ checkId }
	</select>

	<!-- 회원정보수정 -->
	<update id="update" parameterType="member">
		UPDATE
			MEMBER
		SET
			USER_NAME = #{userName},
			EMAIL = #{email},
			PHONE = #{phone}
		WHERE
			USER_ID = #{userId}
	</update>
	
	<!-- 회원 탈퇴 관련 쿼리문 -->
	<update id="delete" parameterType="member">
		UPDATE
			MEMBER
		SET
			STATUS = 'D',
			MODIFY_DATE = SYSDATE
		WHERE
			USER_ID = #{userId}
	</update>	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	






</mapper>