<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.hondimoyeong.cs.model.dao.NoticeMapper">

<resultMap type="notice" id="noticeResultSet">
	<result column="NOTICE_NO" property="noticeNo"/>
	<result column="NOTICE_TITLE" property="noticeTitle"/>
	<result column="NOTICE_CONTENT" property="noticeContent"/>
	<result column="CREATE_DATE" property="createDate"/>
	<result column="COUNT" property="count"/>
	<result column="STATUS" property="status"/>
	<result column="USER_NO" property="userNo"/>
</resultMap>

<resultMap type="faq" id="faqResultSet">
    <result column="Q_NO" property="questionNo"/>
    <result column="Q_CONTENT" property="questionContent"/>
    <result column="Q_CREATE_DATE" property="createDate"/>
    <result column="Q_STATUS" property="status"/>
    <result column="Q_USER_NO" property="userNo"/>
    <result column="A_Q_NO" property="questionAnswerNo"/>
    <result column="A_CONTENT" property="answerContent"/>
</resultMap>

	<select id="selectListCount" resultType="_int">
		SELECT
		      COUNT(*)
		  FROM
		      NOTICE
		 WHERE
			  STATUS = 'Y'
	</select>
	
	<select id="selectList" resultMap="noticeResultSet">
		SELECT
		      NOTICE_NO,
		      NOTICE_TITLE,
		      NOTICE_CONTENT,
		      TO_CHAR (CREATE_DATE, 'YY/MM/DD') as "CREATE_DATE",
		      COUNT,
		      STATUS,
		      USER_NO
		  FROM
		      NOTICE
		 WHERE
		      STATUS = 'Y'
		 ORDER
		    BY
		      NOTICE_NO DESC
	</select>
	
	<update id="increaseCount" parameterType="_int">
		UPDATE
		      NOTICE
		   SET
		      COUNT = COUNT + 1
		 WHERE
		      NOTICE_NO = #{noticeNo}
		   AND
		      STATUS = 'Y'
	</update>
	
	<select id="selectNotice" parameterType="_int" resultMap="noticeResultSet">
		SELECT
		      NOTICE_NO,
		      NOTICE_TITLE,
		      NOTICE_CONTENT,
			  TO_CHAR (CREATE_DATE, 'YY/MM/DD') as "CREATE_DATE",
		      COUNT,
		      STATUS
		  FROM
		      NOTICE
		 WHERE
		      NOTICE_NO = #{noticeNo}
	</select>
	
	<insert id="insert" parameterType="notice">
		INSERT
		  INTO
		  	  NOTICE
		  	  (
		  	  NOTICE_NO,
		  	  NOTICE_TITLE,
		  	  NOTICE_CONTENT,
		  	  USER_NO
		  	  )
	    VALUES 
	   		  (
	   		  SEQ_NOTICE_NO.NEXTVAL,
	   		  #{noticeTitle},
	   		  #{noticeContent},
	   		  #{userNo}
	   		  )
	</insert>

	<update id="update" parameterType="notice">
		UPDATE
		      NOTICE
		   SET
		      NOTICE_TITLE = #{noticeTitle},
		      NOTICE_CONTENT = #{noticeContent}
		 WHERE
		      NOTICE_NO = #{noticeNo}
		   AND
		      STATUS = 'Y'
	</update>
	
	<update id="delete" parameterType="_int">
		UPDATE
		      NOTICE
		   SET
		   	  STATUS = 'N'
		 WHERE
		      NOTICE_NO = #{noticeNo}
	</update>
	
	<select id="search" parameterType="hashmap" resultMap="noticeResultSet">
		SELECT
		      NOTICE_NO,
		      NOTICE_TITLE,
		      COUNT,
			  TO_CHAR (CREATE_DATE, 'YY/MM/DD') as "CREATE_DATE"
		  FROM
		      NOTICE
		 WHERE
		      STATUS = 'Y'
		   AND
		      NOTICE_TITLE LIKE '%' || #{keyword} || '%'
		 ORDER
		 	BY
		 	  NOTICE_NO DESC
	</select>
	
	<select id="searchCount" parameterType="hashmap" resultType="_int">
	      
		SELECT
		      COUNT(*)
		  FROM
		      NOTICE
		 WHERE
		      STATUS = 'Y'
		   AND
		      NOTICE_TITLE LIKE '%' || #{keyword} || '%'
		      
	</select>
	
	
	<!-- FAQ -->
	<select id="faqList" resultMap="faqResultSet">
		SELECT
		    Q.Q_NO AS Q_NO,
		    Q.Q_CONTENT AS Q_CONTENT,
		    Q.CREATE_DATE AS Q_CREATE_DATE,
		    Q.STATUS AS Q_STATUS,
		    Q.USER_NO AS Q_USER_NO,
		    A.A_Q_NO AS A_Q_NO,
		    A.A_CONTENT AS A_CONTENT
		FROM
		    FAQ_Q Q
		LEFT JOIN
		    FAQ_A A ON Q.Q_NO = A.A_Q_NO
		WHERE
		    Q.STATUS = 'Y'
		ORDER BY
		    Q.Q_NO DESC
	</select>

</mapper>