<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="reviewMapper">

	<resultMap type="review" id="reviewResultSet">
		<result column="REVIEW_NO" property="reviewNo"/>
		<result column="COURSE_NO" property="courseNo"/>
		<result column="COURSE_NAME" property="courseName"/>
		<result column="REVIEW_TITLE" property="reviewTitle"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="REVIEW_STAR" property="reviewStar"/>
		<result column="USER_NO" property="userNo"/>
		<result column="USER_NAME" property="userName"/>
	
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT
		      COUNT(*)
		  FROM
		      REVIEW
		 WHERE
			  STATUS = 'Y'
	</select>
	
	
	<select id="selectList" resultMap="reviewResultSet">
		SELECT
		      R.REVIEW_NO,
		      C.COURSE_NO AS COURSE_NAME,
		      USER_NAME,
		      REVIEW_TITLE,
		      TO_CHAR (R.CREATE_DATE, 'YY.MM.DD') as "CREATE_DATE",
		      COUNT,
		      R.STATUS,
		      REVIEW_STAR
		  FROM
		      REVIEW R
		  JOIN
		      MEMBER M ON (M.USER_NO = R.USER_NO)
		  JOIN
		      COURSE C ON (R.COURSE_NO = C.COURSE_INDEX)
		 WHERE
		      R.STATUS = 'Y'
		 ORDER
		    BY
		      R.REVIEW_NO DESC
	</select>
	
	<select id="searchCount" parameterType="map" resultType="_int">
		SELECT
		      COUNT(*)
		  FROM
		      REVIEW R
		  JOIN
		      COURSE C ON (R.COURSE_NO = C.COURSE_INDEX)
		 WHERE
		      R.STATUS = 'Y'
		 <if test="condition == 'title'">
		   AND REVIEW_TITLE
		 </if>
		 <if test="condition == 'course'">
		   AND C.COURSE_NO
		 </if>
		      LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="search" parameterType="map" resultMap="reviewResultSet">
		SELECT
		      R.REVIEW_NO,
		      C.COURSE_NO AS COURSE_NAME,
		      M.USER_NAME,
		      R.REVIEW_TITLE,
		      TO_CHAR(R.CREATE_DATE, 'YY.MM.DD') as CREATE_DATE,
		      R.COUNT,
		      R.STATUS,
		      R.REVIEW_STAR
		  FROM
		      REVIEW R
		  JOIN
		      MEMBER M ON (M.USER_NO = R.USER_NO)
		  JOIN
		      COURSE C ON (R.COURSE_NO = C.COURSE_INDEX)
		 WHERE
		 	  R.STATUS = 'Y'
		 <if test="condition == 'title'">
		   AND R.REVIEW_TITLE
		 </if>
		 <if test="condition == 'course'">
		   AND C.COURSE_NO
		 </if>
		      LIKE '%' || #{keyword} || '%'
		 ORDER
		    BY
		      R.REVIEW_NO DESC
	</select>
	
	<update id="increaseCount" parameterType="_int">
		UPDATE
		      REVIEW
		   SET
		      COUNT = COUNT + 1
		 WHERE
		      REVIEW_NO = #{reviewNo}
		   AND
		      STATUS = 'Y'
	</update>
	
	<select id="selectReview" parameterType="_int" resultMap="reviewResultSet">
		SELECT
		      R.REVIEW_NO,
		      C.COURSE_NO AS COURSE_NAME,
		      USER_NAME,
		      REVIEW_TITLE,
		      REVIEW_CONTENT,
		      TO_CHAR (R.CREATE_DATE, 'YY.MM.DD') as "CREATE_DATE",
		      COUNT,
		      R.STATUS,
		      REVIEW_STAR
		  FROM
		      REVIEW R
		  JOIN
		      MEMBER M ON (M.USER_NO = R.USER_NO)
		  JOIN
		      COURSE C ON (R.COURSE_NO = C.COURSE_INDEX)
		 WHERE
		      R.REVIEW_NO = #{reviewNo}
		 ORDER
		    BY
		      R.REVIEW_NO DESC
	</select>



</mapper>