<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>

 	<settings>
 		<setting name="jdbcTypeForNull" value="NULL" />
 	</settings>
 	
 	<typeAliases>
 		<typeAlias type="com.kh.hondimoyeong.course.model.vo.Course" alias="course"/>
 		<typeAlias type="com.kh.hondimoyeong.course.model.vo.CourseFile" alias="courseFile" />
 	</typeAliases>

	<mappers>
		<mapper resource="mapper/course-mapper.xml"/>
	</mappers>
 	
 </configuration>